@model IEnumerable<AfishaApp.Models.Afisha>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Afisha List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Afisha" asp-action="Create">
                <i class="fas fa-plus"></i> &nbsp; Create New Afisha
            </a>
        </div>


    </div>

    <br /><br />

    @if (Model.Count() > 0)
    {
        <div class="row font-weight-bold ">
            <div class="p-3 border bg-light col-sm-6 col-md-5">Name</div>
            <div class="p-3 border bg-light col-5 col-md-1">Genre</div>
            <div class="p-3 border bg-light col-5 col-md-2">Category</div>
            <div class="p-3 border bg-light col-5 col-md-2"></div>
        </div>

        @foreach (var obj in Model)
        {
            <div class="row">
                <div class="p-3 border bg-light col-sm-6 col-md-5" width="30%">@obj.Name</div>
                <div class="p-3 border bg-light col-5 col-md-1" width="10%">@obj.Genre</div>
                <div class="p-3 border bg-light col-5 col-md-2" width="20%">@obj.Category.Name</div>

                <div class="p-3 border bg-light col-5 col-md-2">
                    <div class="w-75 btn-group" role="group">
                        <a class="btn btn-primary mx-2" asp-route-afishaId="@obj.Id" asp-controller="Afisha" asp-action="Edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger mx-2" asp-route-afishaId="@obj.Id" asp-controller="Afisha" asp-action="Details">
                            <i class="fas fa-trash"></i>
                        </a>

                    </div>
                </div>
            </div>

        }

    }
    else
    {
        <p>No Product exists.</p>
    }



</div>